<div class="container">

    <img src={{img}} alt="Home" style="width: 100%; height: 100%;">
    <button class="btn" (click)="navigate()" [ngStyle]="{'font-size':fontVal, 'background-color':colorVal, 'position': 'absolute', 'top': '35%', 'left': '50%', 'transform': 'translate(-50%, -50%)', '-ms-transform': 'translate(-50%, -50%)','padding': '12px 24px','cursor': 'pointer','border-radius': '5px','text-align': 'center'}">Login</button>

    <mat-slide-toggle class="slide1" (change)="themeBtn($event)">change theme</mat-slide-toggle>
    <mat-slide-toggle class="slide2" (change)="styleBtn($event)">change style</mat-slide-toggle>

</div>

